.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*.m4
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/ltmain.sh
build-scripts/missing
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1

macosx/k8055.xcodeproj/*.mode1v3
macosx/k8055.xcodeproj/*.pbxuser

src/k8055mqtt
src/test_k8055
src/config.h
src/config.h.in
src/config.h.in~
